.header-container {
    width: 100%;
    height: 70px;
    background-color: #fff;
    color: #1e3a8a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    z-index: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-left h1 {
    font-size: 20px;
    font-weight: 600;
    margin-left: 34px;
}

.header-nav .nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 60px;
}

.nav-menu li {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: 500;
}

.nav-menu li:hover {
    border: 3px solid #162c65;
}

.nav-menu .logout {
    background-color: #b91c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.nav-menu .logout:hover {
    background-color: #8a1616;
}